$primary-color: rgb(128, 216, 255);
$primary-light-color: rgb(181, 255, 255);
$primary-dark-color: rgb(73, 167, 204);

$secondary-color: rgb(69, 90, 100);
$secondary-light-color: rgb(113, 135, 146);
$secondary-dark-color: rgb(28, 49, 58);

$primary-font-color: rgb(0, 0, 0);
$secondary-font-color: rgb(255, 255, 255);

$warning-base-color: rgb(255, 152, 0);
$error-base-color: rgb(244, 67, 54);

$navigation-bar-height: 9vh;

$explore-map-height: 40vh;
$explore-community-list-height: 40vh;
$explore-community-list-content-height: 6vh;
$explore-community-list-content-vertical-padding: 1vh;
$explore-community-list-inner-content-height: $explore-community-list-content-height - $explore-community-list-content-vertical-padding*2;